name: Proxy Updater

on:
  schedule:
    - cron: "*/10 * * * *"

  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/checkout@v3

      - run: rm *.txt csv/ -rfv
      - name: start proxy scraper
        run: |
          cd .github/workflows
          npm ci
          node index.js
      - name: generating README.md
        run: |
          echo -e "# Ringkasan" > README.md
          echo -e "  Ini adalah repository yang saya buat untuk mempermudah saya dan mungkin juga kalian dalam mencari sebuah proxy.\n" >> README.md
          echo -e "  - **jumlah proxy:** ±$(cat *.txt | wc -l)" >> README.md
          echo -e "  - **terakhir diupdate:** $(TZ=Asia/Jakarta date +'%a, %d %b %y %T %Z')\n" >> README.md

          echo -e "# Unduh" >> README.md
          echo -e "  Salin dan tempel salah satu kode dibawah ke terminal" >> README.md

          for file in *.txt;
          do
            echo -e "  - **$(echo $file | cut -d'_' -f1 | tr 'a-z' 'A-Z')** ($(cat $file | wc -l))" >> README.md
            echo -e "    \`\`\`bash" >> README.md
            echo -e "    curl https://raw.githubusercontent.com/zevtyardt/proxy-list/main/$file -o $file" >> README.md
            echo -e "    \`\`\`" >> README.md
          done

          echo -e "\n# Catatan" >> README.md
          echo -e "Jangan lupa kasih ⭐ terus *fork* sama *follow* juga kalau perlu" >> README.md

      - name: start commit
        run: |
          git config --local user.name ${{ secrets.name }}
          git status
          git add *.txt README.md csv/
          git commit -m "update: $(cat *.txt | wc -l) proxies"
      - name: push changes
        uses: ad-m/github-push-action@master
        with: 
         github_token: ${{ secrets.TOKEN }}
         force: true
